/*for different texts */
h3{
    font-size: 300%;
}
h2{
    font-size: 540%;
    text-align: center;
    
}

/*This is for the three bikes at the home screen*/
.container-products-home{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.bike-home{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 33em;    
    height: auto;
    position: relative;
}

.bike-home:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: all .3s linear;
    border-radius: 3em;
}
.bike-home:hover:before{
    background: rgba(162, 162, 162, 0.3);
    border-radius: 3em;
}

/*For the short text below the three products (home screen)*/
.home-text-container{
    display: flex;
    justify-content: center;
}
.home-text{
    width: 60%;
    text-align: center;
    font-size: 120%;
    font-weight: 800;
}