.container-products{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products{
    display:flex;
    min-width: 10em;
    max-width: 33em;
    
}