.container-products{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products{
    display:flex;
    min-width: 10em;
    max-width: 39em;
    padding-bottom: 18%;
    margin-bottom: 2%;
}