body{
    background-color: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-size: 300%;
    

}

h2{
    font-size: 540%;
    text-align: center;
    
}

.container-products-home{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.bike-home{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 30em;    
    
    height: auto;
    position: relative;
}

.bike-home:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.5em;
    right: 1.5em;
    background: none;
    transition: all .3s linear;
    border-radius: 3em;
}

.bike-home:hover:before{
    background: rgba(162, 162, 162, 0.3);
    border-radius: 3em;
}

