body{
    background-color: none;
}

h3{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;

}

h2{
    font-size: 540%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container-top{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background-color: #a2a2a2;
    text-decoration: none;
    border-radius: 15px;    
}
.items-home{
    width: 20em;
    
}

.container-top a{
    text-align: center;
    
    color: black;
    text-decoration: none;
    border-radius: 15px;
}


.container-top a:hover{
    background-color: #ddd;
    
}

.shopingcarticon{
    min-width: 4em;
    max-width: 5em;
}







.container-products{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.bike-home{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 30em;    
    
    height: auto;
    position: relative;
}

.bike-home:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.5em;
    right: 1.5em;
    background: none;
    transition: all .3s linear;
    border-radius: 3em;
}

.bike-home:hover:before{
    background: rgba(162, 162, 162, 0.3);
    border-radius: 3em;
}

.footer{
    background-color: #a2a2a2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    border-radius: 15px;

}

.icon{
    display: flex;
    width: 5%;
    height: 5%;
    align-self: center;
    
}